a.link {
    text-decoration: none;
    color: #0060a0;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 96, 160, 0.2)
}

a.link:hover {
    color: #d04000;
    border-bottom-color: rgba(208, 64, 0, 0.2);
    border-bottom: 1px solid
}

h1.h1 {
  font: bold 2.625em;
  line-height: 1.1;
}

h1.h2 {
  font: bold 1.8em;
  line-height: 1.1;
}

p.text {
font: 1.3em Helvetica, Arial, sans-serif;;
margin-top: 0;
margin-bottom: 1em;	
}

.side {
font: 0.8em Verdana, Arial, sans-serif;
}